# This is a basic workflow to help you get started with Actions

name: Windows-CRD

on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Enter CRD code'
        required: true
      pincode:
        description: 'Six digit Pin'
        required: true
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Установска Windows
      run: ./setup.ps1
    - name: Запуск Windows
      run: ${{ github.event.inputs.authcode }} -pin=${{ github.event.inputs.pincode }}
  
    

